# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/*
*.iml
*.iws
*.lst
out/*
target/
build/
.settings
.classpath
.project
bin/
.vlt
.DS_Store
.idea
*.iml
out
node/
node_modules/
npm-debug*.*
